@charset "utf-8";

.mobile{display: none;}

.main-visual .item {height:570px; position:relative;}
.main-visual .item .secting-img  {position:absolute; top:0; left:0; width:100%;height:100%; background-repeat: no-repeat; background-size: cover; background-position: center center;}


/*--slick--*/
.main-visual .slick-arrow {position:absolute; top:50%; transform:translateY(-50%); z-index:11;}
.main-visual .slick-dots {display:flex; justify-content:center; margin:-30px -10px 0; position:relative; z-index:11;}
.main-visual .slick-dots li {padding:0 10px;}
.main-visual .slick-dots li button {width:20px; height:20px; border-radius:50%; background:#ffffff; display:block; cursor:pointer; font-size:0; border:0;}
.main-visual .slick-dots li.slick-active button {background:#000;}

/* section1 */
.section1{
    max-width: 1230px;
    padding: 80px 15px;
    margin: 50px auto;
}
.section1 .tit{
    padding: 20px 0;
}

.section1 .img-box{
    padding: 0 40px 20px 40px;
}
.section1 .img-box .tit h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.section1 .items{
    margin: 0 -30px;
}
.section1 .item{
    padding: 0 30px;
}
.section1 .item .pic{
    height: 300px;
    margin-bottom: 15px;
}
.section1 .item .pic img{
    margin: 0 auto;
    padding-top: 50px;
}
.section1 .item .pic1 img{
    padding-top: 0;
}

.section1 .item .txt{
    text-align: center;
}
.section1 .item .txt div{
    font-size: 1.6rem;
    font-weight: bold;
}
.section1 .item .txt p{
    margin-top: 0.4rem;
    font-size: 1.1rem;
    color: #7e7e7e;
}


/* section2 */
/*--- 탭 컨텐츠 ---*/
.section2 {background:#629d5a; padding:80px 0; }
.section2 .contain {max-width:1430px; padding:0 15px; margin:0 auto;}
.section2 .tit {margin-bottom:60px; text-align:center;}
.section2 .tit h2 {font-size:36px; line-height:1.2em; color:#2c2c2c; font-weight:700; margin-bottom:26px;}
.section2 .tit p {font-size:20px; line-height:1.8em; color:#fff; font-weight:500;}

.section2 .tab-content {padding:20px 0;}
.section2 .tab-content .box ul {display:flex; width: 80%; margin: auto; height:200px; align-items:center;}
.section2 .tab-content .box ul li {width:25%; text-align:center; position:relative;}

.section2 .tab-content .boxtxt ul{
    display: flex;  align-items: center; width: 80%; margin: auto;
}
.section2 .tab-content .boxtxt ul li{
    width: 25%; text-align: center;
}
.section2 .tab-content .boxtxt ul li p{
    font-size: 1.2rem;
    letter-spacing: -1px;
}


.section2 .tab-content .box ul li img {-ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); -webkit-transition:all 0.9s; -ms-transition:all 0.9s; transition:all 0.9s; -webkit-transition-timing-function:ease; transition-timing-function:ease; z-index:2;}

.section2 .tab-content .box ul li:hover img {-ms-transform:scale(0.9) rotate(0.1deg); -webkit-transform:scale(0.9) rotate(0.1deg); transform:scale(1.2) rotate(0.1deg); -webkit-transition:all 0.7s; -ms-transition:all 0.7s; transition:all 0.7s; -webkit-transition-timing-function:ease; transition-timing-function:ease;}

.tab-menu .tabs {display:flex; margin:0 -20px; justify-content:center; padding-bottom: 2rem; margin-top: 7rem;}

.tab-menu .tabs li {padding:0 20px;}
.tab-menu .tabs li a {display:block; width:100px; line-height:100px; border-radius:50%; background:#ffffff; text-align:center; color:#505050;}
.tab-menu .tabs li.active a {background:#000000; color:#fff;}


/* section3 */
.section3{
    padding: 80px 0;
}
.section3 h2{
    font-size: 3rem;
    text-align: center;
}
.section3 .swiper-slide .item{
    width: 500px;
}
.section3 .swiper-slide .item img{
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
}
.section3 .swiper-slide .item div{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}


  /*태블릿*/
@media (max-width : 768px){
#tb-hd{display: block;}
#tb-hd h2{display: block; text-align: center;}
#tb-hd .momenu ul{display: flex; justify-content: space-around;}
#tb-hd .momenu ul li{display: block; margin-bottom: 1rem;}
   
   #pc-hd{display: none;}
   #tb-hd{display: block;}
    .pc{display: none;}
    .mobile{display: block;}
   .section1 .box{display: block;}
   .section1 .img-box{width: 500px; margin: 0 auto; margin-bottom: 3rem;}
   .section1 .video-box{margin-left: 5.5rem; width: 500px;}
   footer ul li{font-size: 1.1rem;}
}